/* .slider-area{
    margin-top: 100px;
    height: 100px;
} */

.breadcrumb-banner-area {
    margin-top: 100px;
    background: rgba(0, 0, 0, 0) url(../images/bnlr.jpg) no-repeat scroll
        0 0;
    color: #ffffff;
    padding: 100px 0;
    position: relative;
    background-position: 50% 27%;
    background-size: cover;
}
.breadcrumb-banner-area:after {
    background: rgba(45, 62, 80, 0.5) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.breadcrumb-text {
    z-index: 9;
    position: relative;
}
.breadcrumb-text h1 {
    line-height: 25px;
    text-transform: uppercase;
    font-size: 36px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}
.breadcrumb-bar .breadcrumb {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    line-height: 12px;
    margin-bottom: 0;
    padding: 15px 0 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.breadcrumb-bar li {
    color: #ffffff;
    font-size: 14px;
    line-height: 12px;
    margin: 0 16px;
    position: relative;
    text-transform: uppercase;
}
.breadcrumb-bar .breadcrumb > li:first-child:before {
    border-radius: 50%;
    content: "\f2fb";
    display: inline-block;
    font-family: "Material-Design-Iconic-Font";
    font-size: 18px;
    position: absolute;
    right: -22px;
    top: -2px;
}
.breadcrumb-bar a {
    color: #ffffff;
}
a,
button,
input {
    outline: medium none;
    color: #434343;
}

.section-title > h3 {
    font-size: 36px;
    color: #021832;
    text-transform: capitalize;
    font-weight: 700;
}

.section-title p {
    font-size: 15px;
    line-height: 26px;
    max-width: 620px;
    margin: auto;
}
/*roomgrid*/
.list__categories {
    overflow: hidden;
    position: relative;
}
.list__categories .thumb__catrgories {
    position: relative;
}
.list__categories .thumb__catrgories:before {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 400ms ease-in 0s;
    transition: all 400ms ease-in 0s;
    z-index: 1;
}
.list__categories .thumb__catrgories a img {
    width: 100%;
    -webkit-transition: all 400ms ease-in 0s;
    transition: all 400ms ease-in 0s;
}
.list__categories.single-room .desc__categories {
    left: 20px;
    right: 20px;
}
@media (max-width: 1500px) and (min-width: 1200px) {
    .list__categories .desc__categories {
        left: 30px;
        right: 30px;
    }
}
@media (max-width: 1199px) and (min-width: 992px) {
    .list__categories.single-room .desc__categories .categories__content {
        padding: 20px 30px 20px;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .list__categories.single-room .desc__categories .categories__content {
        padding: 30px 30px 30px;
    }
}
.list__categories .desc__categories {
    left: 85px;
    position: absolute;
    right: 85px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}
.desc__categories .categories__content {
    border: 2px solid #fff;
    padding: 110px 30px 100px;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
    -webkit-transition: all 500ms ease-in 0s;
    transition: all 500ms ease-in 0s;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
h6 {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    color: #434343;
    margin-top: 0px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}
.list__categories .desc__categories .categories__content h6 a {
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 35px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease-in 0s;
    transition: all 300ms ease-in 0s;
}
.list__categories .desc__categories .categories__content h6 a:before {
    background: #19B5FE none repeat scroll 0 0;
    bottom: -2px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 45px;
}
.list__categories .desc__categories .categories__content h6 a:hover {
    color: #19B5FE;
}
.categories__content p {
    margin: 0 0 9px;
    color: #fff;
    letter-spacing: 0.025em;
}
.categories__content .p-amount {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
}
.categories__content .count:before {
    content: "/";
    margin: 0 5px;
    vertical-align: middle;
}

.cat__btn .shopbtn {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.1em;
    line-height: 30px;
    margin-top: 20px;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease-in 0s;
    transition: all 300ms ease-in 0s;
}
.cat__btn .shopbtn:hover {
    color: #19B5FE;
}
.list__categories:hover .thumb__catrgories a img {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    -webkit-transition: all 400ms ease-in 0s;
    transition: all 400ms ease-in 0s;
}
.list__categories:hover .thumb__catrgories:before {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transition: all 400ms ease-in 0s;
    transition: all 400ms ease-in 0s;
}
.list__categories:hover .desc__categories .categories__content {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.list__categories.single-room .desc__categories .categories__content {
    padding: 80px 30px 80px;
}
/*pagnation*/
.product-pagination > ul {
    text-align: center;
    padding-top: 20px;
}
.product-pagination > ul > li {
    display: inline-block;
    list-style: none;
    margin-right: 5px;
}
.product-pagination > ul > li.active > a,
.product-pagination > ul > li > a:hover {
    background: #19B5FE;
    border-color: #19B5FE;
    color: #fff;
}
.product-pagination > ul > li > a {
    background: #fff;
    border: 1px solid #ededed;
    color: #222;
    font-size: 15px;
    display: block;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    min-width: 0;
    padding: 0 8px;
    text-align: center;
    width: 42px;
}
